.{
    font-family: tahoma
}

body{
    background-color: lightblue
}

.image-intro{
    text-fill:white
    height: 400px;
    background-image: url('https://res.cloudinary.com/dhmt3nfpz/image/upload/v1765535658/64674e3268f0f8aad6494764c978bc72_t3sg18.jpg');
    background-size: cover;
    background-position: center;
}


/* Hiển thị 3 item cùng lúc */
#apartmentCarousel1 .carousel-inner {
  display: flex;
}
#apartmentCarousel1 .carousel-item {
  flex: 0 0 33.333%; /* mỗi item chiếm 1/3 chiều rộng */
  display: block;
}

#apartmentCarousel .carousel-control-prev,
#apartmentCarousel .carousel-control-next {
  width: 5%;              /* thu nhỏ vùng click */
  top: 50%;               /* căn giữa theo chiều dọc */
  transform: translateY(-50%);
}

#apartmentCarousel .carousel-control-prev {
  left: -60px;            /* đẩy nút Prev ra ngoài khung */
}

#apartmentCarousel .carousel-control-next {
  right: -60px;           /* đẩy nút Next ra ngoài khung */
}
